<div class="notifications-container">
    <div *ngFor="let notification of notifications; let i = index;"
         class="{{notification.typeValue}}"
         [@flyDown]>
        <span *ngIf="notification.isHtml" class="message" [innerHTML]="notification.message"></span>
        <span *ngIf="!notification.isHtml" class="message">{{notification.message}}</span>
        <span class="fa fa-close close-click" *ngIf="notification.allowClose" (click)="hideNotification(notification)"></span>
    </div>
</div>
